@model Dunno.Models.Helpers.BookPost

@{ ViewData["Title"] = "Create"; }

<h1>Добавление книги</h1>

<form class="form-row" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="p-1">
        <label asp-for="Title">Заголовок</label>
        <input asp-for="Title" class="form-control" id="BooksTitle" maxlength="200" type="text">
    </div>

    <div class="p-1">
        <label asp-for="Displacement">Местонахождение книги</label>
        <textarea class="form-control" asp-for="Displacement" rows="1" type="text"></textarea>
    </div>

    <div class="p-1">
        <label asp-for="Description">Описание книги</label>
        <textarea class="form-control" asp-for="Description" rows="5" type="text"></textarea>
    </div>

    <!--            Добавление файлов-->
    <div class="container mt-2 mb-2">
        <div class="p-1">
            <label class="custom-file-label" asp-for="Image">Обложка:</label>
            <input accept=".jpg,.gif,.png" class="custom-file-input" asp-for="Image" required type="file">
        </div>
    </div>

    <div class="p-1">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
