@model Dunno.Models.Note

@{ ViewData["Title"] = "Delete"; }

<h1>Вы уверены, что хотите удалить эту заметку?</h1>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="col p-1">
        <button class="btn btn-primary" type="button" href="/Books/Details/@Model.Id">Отменить удаление</button>
    </div>
    <div class="col p-1">
        <button class="btn btn-danger" type="submit">Удалить</button>
    </div>
</form>
