@model Dunno.Models.Helpers.NotePost

@{ ViewData["Title"] = "Edit"; }

<h1>Изменение заметки</h1>

<form class="form-row" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="p-1">
        <label asp-for="Title">Заголовок</label>
        <input class="form-control" asp-for="Title" maxlength="200" type="text">
    </div>
    <div class="p-1">
        <label asp-for="Description">Текст заметки</label>
        <textarea class="form-control" asp-for="Description" rows="5" type="text"></textarea>
    </div>

    <div class="container mt-2 mb-2">
        <div class="p-1">
            <label class="custom-file-label" asp-for="Image">Главная фотография:</label>
            <input accept=".jpg,.gif,.png" class="custom-file-input" asp-for="Image" type="file">
        </div>
    </div>

    <div class="p-1">
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
