@model IEnumerable<Dunno.Models.Note>

@{ ViewData["Title"] = "Index"; }

<h1>Заметки учителей</h1>

<p class="m-4">
    <a class="btn btn-primary" href="/Notes/Create" role="button">Создать заметку</a>
</p>

@{ foreach (var note in Model)
    {
<div class="card m-2">
    <div class="row">
        <div class="col-sm-3">
            @{ if (note.Image != null)
                {
<img src="data:image; base64,@Convert.ToBase64String(note.Image)" class="rounded" style="width: 100%" /> }
                else
                {
<img class="rounded" src="https://via.placeholder.com/800x600"
     style="width: 100%"> } }
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Html.Display(note.Title)</h5>
                <p class="card-text">
                    @note.Description
                </p>
                <a class="stretched-link" asp-action="Details" asp-route-id="@note.Id"></a>
            </div>
        </div>
    </div>
</div> } }