@model Dunno.Models.News

@{ ViewData["Title"] = "Delete"; }

<h1>Вы уверены, что хотите удалить эту новость?</h1>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="col p-1">
        <a class="btn btn-primary" type="button" asp-action="Details" asp-route-id="@Model.Id">Отменить удаление</a>
    </div>
    <div class="col p-1">
        <button class="btn btn-danger" type="submit">Удалить</button>
    </div>
</form>
